/* 
    Created on : Jan 10, 2020, 10:38:14 AM
    Author     : Chris Lamke <https://chris.lamke.org>
    License    : MIT License
*/

:root{
    /* Some of my favorite UI colors defined for convenience */
    --black-color: #000000;
    --red-color: #f44336;
    --purple-color: #9c27b0;
    --pinkish-color: #e91e63;
    --ltblue-color: #00bcd4;
    --ltgreen-color: #4caf50;
    --ltorange-color: #ff9800;
    --purpleish-color: #9999ff;
    --darkgrey-color: #303030;
    --mediumdarkgrey-color: #404040;
    --mediumgrey-color: #808080;
    --ltgrey-color: #e0e0e0;
    --blackish-color: #1c0000;
    --white-color: #ffffff;
    --whitish-color: #fcf9ff;

    /* Theme color definitions and default colors */
    --color-background: #000000;
    --color-primary: #0060df;
    --color-secondary: #fbfbfe;
    --color-accent: #fd6f53;
    --color-font: #000000;
    --color-text: #ffffff;
    --color-link: #fcf9ff;
    --color-link-hover: blue;
    --color-list-toggle: #fcf9ff;
    --color-toolbox-body: #404040;
    --color-linkbox-body: #404040;
}

body { 
    /*background-color: var(--color-background);*/
    background-image: url('../img/MoonlitAsteroid.png');
    background-size: cover;
    font-family: 'Arial', sans-serif; font-size: 10pt; 
    background-color: #1f1f1f;
}

a  {
    color: var(--color-link); 
}

a:hover {
    color: var(--color-link-hover);
}

a:active {
    color: var(--color-link-hover); 
    text-decoration: underline;
}

h2 {
    color: var(--color-text); 
    font-family: Tahoma, Geneva, sans-serif; font-size:30px;
    /*padding-left:15px;*/
}

h3 {
    color: var(--color-text);
    margin-top: 6px; margin-right: 10px; margin-bottom: 6px; margin-left: 10px;
    font-family: Tahoma, Geneva, sans-serif; font-size:14px; text-align: center;
}

p {
    color: var(--color-text);
    font-family: Tahoma, Geneva, sans-serif; font-size:20px;
    border:0px;
}

hr {
    color: var(--color-text);
    background-color: var(--color-text);
    margin-top: 5px; margin-right: 16px; margin-bottom: 5px; margin-left: 16px;
    height:1px;
    border:none;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 4px;
    padding-left: 8px;
    padding-bottom: 3px;
}

/*
.rss-feeds {
    font-family: 'Times', sans-serif; font-size: 12px;
}*/


/* CSS below taken from https://www.w3schools.com/howto/howto_js_treeview.asp */
.caret {
    color: var(--color-list-toggle);
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

.caret::before {
    content: "\25B6";
    color: var(--color-list-toggle);
    display: inline-block;
    margin-right: 6px;
}

.caret-down::before {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);  
}

.nested {
    display: none;
}

.active {
    display: block;
}

.linkBoxList {
    margin: 0;
    padding: 0;
}

#status {
    padding-left:8px; padding-bottom:16px; margin: 8px;
    font-family: 'Times', sans-serif; font-size: 16px;
    color:var(--whitish-color);
}

.statusDisplay {
    padding-left:8px; padding-bottom:6px;
    font-family: 'Times', sans-serif; font-size: 16px;
    color:var(--whitish-color);
}

.statusDisplayLabel {
    display: inline-block;
    width: 110px;
}

.settingsDisplay {
    padding-left:8px; padding-bottom:6px;
    font-family: 'Times', sans-serif; font-size: 16px;
    color:var(--whitish-color);
}

.settingsDisplayButton {
    margin-left:8px;
    font-family: 'Times', sans-serif; font-size: 16px;
}

.alarmButton {
    margin-left:16px;
}

.setButton {
    float: right;
    margin-left: 20px;
}

.clearButton {
    float: right;
}

.timerButton {
    margin-top: 8px; margin-right: 8px;
}

/* Search box css */

.searchBox {
    background-color: var(--color-linkbox-body);
    position: relative;
    /*flex-basis: calc(30% - 10px);*/
    margin-top: 12px; margin-right: 20px; margin-bottom: 12px; margin-left: 20px;
    border: 1px solid;
    box-sizing: border-box;
    width: 300px;
    height: 150px;
    overflow: hidden;
}

.searchBox-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.searchBox .content {
    position: relative;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
}

#searchInput {
    padding-left:16px; padding-bottom:8px; padding-top:8px;
    height:20px;
    font-size:12px; 
}

#searchTarget {
    padding-left:0px; padding-bottom:8px; padding-top:8px;
    margin-left: 0px;
    height:20px;
    font-size:12px; 
}

.searchOptionDisplayLabel {
    padding-left:8px; padding-bottom:6px;
    font-family: 'Times', sans-serif; font-size: 16px;
    color:var(--whitish-color);
    display: inline-block;
    width: 110px;
    /* font-weight: bold; */
}

.toolBox-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.toolBox {
    background-color: var(--color-toolbox-body);
    position: relative;
    /*flex-basis: calc(30% - 10px);*/
    margin-top: 12px; margin-right: 20px; margin-bottom: 12px; margin-left: 20px;
    border: 1px solid;
    box-sizing: border-box;
    width: 300px;
    height: 150px;
}
/*
.toolBox::before {
    content: '';
    display: block;
    padding-top: 100%;
}
*/
.toolBox .content {
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
}

.linkBox-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.linkBox, .RSSBox {
    background-color: var(--color-linkbox-body);
    position: relative;
    /*flex-basis: calc(30% - 10px);*/
    margin-top: 12px; margin-right: 20px; margin-bottom: 12px; margin-left: 20px;
    border: 1px solid;
    box-sizing: border-box;
    width: 300px;
    height: 150px;
    overflow-y: auto;
    overflow-x: auto;
}

.linkBox .content {
    position: relative;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
}


/* Weather Box */

.weatherBox {
    background-color: var(--color-linkbox-body);
    position: relative;
    margin-top: 12px; margin-right: 20px; margin-bottom: 12px; margin-left: 20px;
    border: 1px solid;
    box-sizing: border-box;
    width: 300px;
    height: 150px;
    overflow: hidden;
}

.weatherIcon {
	margin-left: 16px;
	width: 75px;
    height: 32px;
	display: inline-block;
}

.weatherIcon img {
	margin-left: auto;
	margin-right: auto;
    width: 100%;
    height: auto;
}

.weatherValues {
	margin-left: 16px;
	display: inline-block;
	text-align: center;
}

.tempValue {
	margin-left: 16px;
	margin-top:8px;
    font-family: 'Times', sans-serif; font-size: 18px;
	color: #ffffff;
}

.weatherDescription {
	margin-left: 16px;
	margin-top:8px;
    font-family: 'Times', sans-serif; font-size: 18px;
	color: #ffffff;
}

.weatherLocation {
	margin-left: 16px;
	margin-top:12px;
    font-family: 'Times', sans-serif; font-size: 12px;
	color: #ffffff;
}
