/* 
    Created on : Jan 10, 2020, 10:38:14 AM
    Author     : Chris Lamke <https://chris.lamke.org>
    License    : MIT License
*/

:root{
    --red-color: #f44336;
    --purple-color: #9c27b0;
    --pinkish-color: #e91e63;
    --ltblue-color: #00bcd4;
    --ltgreen-color: #4caf50;
    --ltorange-color: #ff9800;
    --purpleish-color: #9999ff;
    --dkgrey-color: #404040;
    --ltgrey-color: #e0e0e0;
    --blackish-color: #1c0000;
    --white-color: #ffffff;
    --whitish-color: #fcf9ff;
}


.theme-light {
  --color-primary: #0060df;
  --color-secondary: #fbfbfe;
  --color-accent: #fd6f53;
  --font-color: #000000;
}
.theme-dark {
  --color-primary: #17ed90;
  --color-secondary: #2a2c2d;
  --color-accent: #12cdea;
  --font-color: #ffffff;
}
